<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<h1> Regular Expression Clone</h1>
<body 
    
    <center>

    <form action="{{url_for('redir_count')}}" method="post"> 
        <input type="text" name="regex" placeholder="Regex Expression">
        <input type="text" name="pattern" placeholder="Pattern String">

        <input type="submit",value="enter">


    </form>


</body>
</html>